@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Primario-Primario-950: #222749;
  --Secundario-400: #43D9BC;
}
body{
  background-color: var(--Primario-Primario-950);
}

.shadow-container{
  box-shadow: 4px -2px 60px 10px rgba(0, 0, 0, 0.60);
}

.download-container:hover .arrow-click {
  rotate: -45deg;
  color: var(--Secundario-400);
  transition: ease-in 200ms;
}
